<% provide(:title, "Sign In") %>

<div class="stripe signin visible-desktop">

      <h1 class="subfirst fill"></h1>
      	
        <%= form_for(:session, url: sessions_path) do |f| %>
        <%= render 'shared/user_form' , f:f %>
        <%= f.submit "Sign In", class: "btn btn-primary btn-xlarge btn-block" %>
        
        <%= link_to "Register", new_user_path , class: "btn btn-primary btn-xlarge btn-block" %>
        <% end %>
       
</div>

<div class="stripe signin visible-phone">

      <h1 class="subfirst fill"></h1>
        
        <%= form_for(:session, url: sessions_path) do |f| %>
        <%= render 'shared/user_form' , f:f %>
        <%= f.submit "Sign In", class: "btn btn-primary btn-xlarge btn-block" %>
        
        <%= link_to "Register", new_user_path , class: "btn btn-primary btn-xlarge btn-block" %>
        <% end %>
       
</div>