<div class="office-hour hidden-phone">
	<div class="office-text">	
		<% if !office_hour.default %>
			<% d = "" %>
			<% if !office_hour.course.subject.nil? %>
				<% d = d + office_hour.course.subject.to_s + " " %>
			<% end %>
			<% if !office_hour.course.catalog_nbr.nil? %>
				<% d = d + office_hour.course.catalog_nbr.to_s + ": " %>
			<% end %>
			<% if !office_hour.course.course_title_long.nil? %>
				<% d = d + office_hour.course.course_title_long.to_s %>
			<% end %>
			<i class="course"><%=d%></i>
		<br><br>
		<i><%a = office_hour.date.strftime('%m/%d/%Y') %> <%=a%></i> 
		<%a = office_hour.date.strftime('%I:%M %p') %> <%=a%> to 
		<%b = office_hour.end_time.strftime('%I:%M %p') %> <%=b%>
		 
		<i class="inst"><%c = User.find((Course.find(office_hour.course_id)).user_id).sn + ", " + User.find(Course.find(office_hour.course_id).user_id).givenName %> <%=c%> </i>
		<br>
		
		<i>Location:</i>&nbsp;<%c = office_hour.location%> <%=c%>
		<br>
		<i>Description:</i>&nbsp;<%c = office_hour.description%> <%=c%>
		<% end %>
	</div>
</div>

<div class="office-hour visible-phone">
	<div class="office-text-mobile">	
		<% if !office_hour.default %>
			<% d = "" %>
			<% if !office_hour.course.subject.nil? %>
				<% d = d + office_hour.course.subject.to_s + " " %>
			<% end %>
			<% if !office_hour.course.catalog_nbr.nil? %>
				<% d = d + office_hour.course.catalog_nbr.to_s + ": " %>
			<% end %>
			<% if !office_hour.course.course_title_long.nil? %>
				<% d = d + office_hour.course.course_title_long.to_s %>
			<% end %>
			<i class="course"><%=d%></i>
		<br>
		<i class="mini-mobile"><%a = office_hour.date.strftime('%m/%d/%Y') %> <%=a%> | 
		<%a = office_hour.date.strftime('%I:%M %p') %> <%=a%> to 
		<%b = office_hour.end_time.strftime('%I:%M %p') %> <%=b%> </i>
		<br>
		<i class="inst mob update"><%c = User.find(Course.find(office_hour.course_id).user_id).sn + ", " + User.find(Course.find(office_hour.course_id).user_id).givenName%> <%=c%> </i>
		<br>
		
		<i>Location:</i>&nbsp;<i class="mini-mobile-2"><%c = office_hour.location%> <%=c%></i>
		<br>
		<i>Description:</i>&nbsp;<i class="mini-mobile-2"><%c = office_hour.description%> <%=c%></i>
		<% end %>
	</div>
</div>