
<h1 class="welcome"> Create Office Hour </h1>

<%= form_for(@office_hour) do |f| %>
  <%= render 'layouts/messages', object: f.object %>
  <div class="field profcontainer-in">


    <div class="span6 prof-form">

      <%= f.label "Please Select Course:" %>
      <%= f.select :course_id, @courses.collect {|p| p.crse_id }, { include_blank: true } %>

      <%= f.text_area :location, placeholder: "Location:" %>

      <%= f.text_area :description, placeholder: "Description:
                            i.e. Day of the Week" %>
    

      <h4 class="check-text">Set as default?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.check_box :default, {checked: false} %></h4>
      <h4 class="tiny">(Dates will be irrelevant for default office hours)</h4>
    </div>


    <div class="span6 prof-form">


      <%= f.label :date %>
      <%= f.date_select :date, :start_year => Time.now.year, :end_year => Time.now.year + 4, :use_short_month => true %>
    
      
      <%= f.label :start_time %>
      <%= f.time_select :start_time, :ignore_date => true, :ampm => true %>

      <%= f.label :end_time %>
      <%= f.date_select :end_time, :start_year => Time.now.year, :end_year => Time.now.year + 4, :use_short_month => true %>
      <br>End Time <br>
      
      <%= f.time_select :end_time, :ignore_date => true, :ampm => true %>
    </div>

    
  </div>
  <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-form hidden-phone" %>
  <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-phone visible-phone" %>
  
<% end %>