
  <h1 class="welcome"> Create Office Hours </h1>

<%= form_for(@newOfficeHour) do |f| %>
  <div class="field profcontainer-in">


    <div class="span6 prof-form">

      <%= f.label "Please Select Course:" %>
      <% if params[:thisCourse].nil? %>
      <%= f.select :course_id, @courses.collect {|p| [p.course_title_long, p.id] }, 
                include_blank: true  %>
       <% else %>
       <%= hidden_field_tag :thisCourse, params[:thisCourse] %>
      <%= f.select :course_id, @courses.collect {|p| [p.course_title_long, p.id] }, 
                selected: params[:thisCourse], include_blank: true  %>
       <% end %>

      <%= f.text_area :location, placeholder: "Location:" %>

      <%= f.text_area :description, placeholder: "Description:
                            i.e. Day of the Week" %>
    
     <%= f.hidden_field :default, value: params[:default] %></h4>

    </div>


    <div class="span6 prof-form">


      <%= f.label :date %>
      <%= f.date_select :date, :start_year => Time.now.year, :end_year => Time.now.year + 4, :use_short_month => true %>
    
      
      <%= f.label :start_time %>
      <%= f.time_select :start_time, :ampm => true, :default => Time.now %>

      <%= f.label :end_time %>
      <%= f.time_select :end_time, :ampm => true, :default => Time.now %>
    </div>

    
  </div>
  <% if @thisCourse.nil? %>
  <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-form hidden-phone" %>
  <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-phone visible-phone" %>
  <% else %>
    <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-form hidden-phone" %>
  <%= f.submit "Create", class: "btn btn-primary btn-xlarge btn-block btn-phone visible-phone" %>

  <% end %>
  
<% end %>