<h1 class="welcome" %> <%= @course.course_title_long %> </h1>
<%= @course.acad_career %>
<br>
<%= @course.class_nbr %>
<br>
<%= @course.ssr_component %>
<br>
<%= @course.ssr_instr_long %>
<br>
<%= @course.ssr_mtg_dt_long %>
<br>
<%= @course.ssr_mtg_loc_long %>
<br>