<% if !current_user.instructor %>
  <h1 class="welcome">My Courses</h1>
<% else %>
  <h1 class="welcome">Manage Courses</h1>
<% end %>

<div class="profcontainer-in">
  <% if !current_user.instructor %>
    <div>
      <div class="center-side">
        <!--%= #render 'search_form' %-->
        <%= link_to "+ Add Course", user_add_course_user_path, class: "btn btn-primary btn-xlarge add top side" %>
      </div>
    </div>
    <br><br>
  <% else %>
    <div>
      <%= form_tag(controller: "courses", action: "create") do %>
        <%= text_field_tag :course_id, "", placeholder: "Course ID" %>
        <br>
      <%= submit_tag "+ New ID", controller: "courses", action: "create", class: "btn btn-primary btn-xlarge add side" %>
      <% end %>
    </div>
    
  <% end %>
  <div>
    
    <%= render @myCourses %>
  </div>
</div>