<div class="instructors">
	<% a = "" %>
	<% if !course.subject.nil? %>
		<% a = a + course.subject.to_s + " " %>
	<% end %>
	<% if !course.catalog_nbr.nil? %>
		<% a = a + course.catalog_nbr.to_s + ": " %>
	<% end %>
	<% if !course.course_title_long.nil? %>
		<% a = a + course.course_title_long.to_s %>
	<% end %>
	<%= link_to a, course_path(course) %>
	<% if current_user.instructor %>
		<%= form_for(course, html: { method: :delete }) do |f| %>
			<div class="right-side">
				<%= f.submit "Delete", class: "btn btn-primary btn-xlarge del btn-block" %>
			</div>
		<% end %>
	<% else %>
		<%= form_tag(controller: "users", action: "student_remove_course") do %>
			<div class="right-side">
			<%= hidden_field_tag 'course_id', course.crse_id %>
		<%= submit_tag ("Delete"), class: "btn btn-primary btn-xlarge del btn-block" %>
		<% end %>
	<% end %>
</div>
