<% if !current_user.instructor %>
  <h1 class="welcome">My Office Hours</h1>
<% else %>
  <h1 class="welcome"><%= @thisCourse.course_title_long %></h1>
<% end %>

<div class="profcontainer-in">
  <% if !current_user.instructor %>
    <div>
      <div class="center-side">
      </div>
    </div>
    <br><br>
  <% else %>
    <div class="button-top">
      <%= link_to "+ New Session", new_office_hour_path(
              thisCourse: @thisCourse.id, default: true), class: "btn btn-primary btn-xlarge add top side" %>
      <%= link_to "+ New Update", new_office_hour_path(
              thisCourse: @thisCourse.id, default: false), class: "btn btn-primary btn-xlarge add top side" %>
    </div>
  <% end %>
  <div>
      <% @myHoursDefault.each do |office_hour| %>
        <% if current_user.instructor %>
        <%= render 'office_hours/instructor_default', office_hour: office_hour %>
        <% else %>
        <%= render 'office_hours/student_default', office_hour: office_hour %>
        <% end %>
      <% end %>
      <% @myHoursUpdate.each do |office_hour| %>
        <% if current_user.instructor %>
        <%= render 'office_hours/instructor_update', office_hour: office_hour %>
        <% else %>
        <%= render 'office_hours/student_update', office_hour: office_hour %>
        <% end %>
      <% end %>

  </div>
</div>