<h4 class="welcome side"> <%= image_tag("icon_main.png", :class => "img side") %> </h4>
<div class="profside-container">
	<% if !current_user.nil? %>
		<% if !current_user.instructor %>
			<div class="sidebar-nav">
				<div class="well">
					<ul class="nav nav-list"> 
					  <li class="nav-header">Welcome</li>        
					  <li> <%= link_to "My Current Courses", current_user %> </li>
					  <li> <%= link_to "My Office Hours", office_hours_path %> </li>
					  
					</ul>
				</div>
			</div>
			
		<% else %>

			<div class="sidebar-nav">
				<div class="well">
					<ul class="nav nav-list"> 
					  <li class="nav-header">Welcome</li>        
					  <li> <%= link_to "Manage Courses", current_user %> </li>
					  <li> <%= link_to "Manage Sessions", office_hours_path %> </li>
					  
					</ul>
				</div>
			</div>
			
		<% end %>
	<% end %>
</div>