<h4 class="welcome side"> <%= image_tag("icon_main.png", :class => "img side") %> </h4>
<div class="profside-container">
	<% if !current_user.nil? %>
		<% if !current_user.instructor %>
			<%= link_to "Find Instructors", current_user, class:"btn btn-primary btn-xlarge side btn-block" %>
			<%= link_to "Office Hours", course_path, class:"btn btn-primary btn-xlarge side btn-block" %>
		<% else %>
			<%= link_to "Create Session", current_user, class:"btn btn-primary btn-xlarge side btn-block" %>
			<%= link_to "Current Sessions", office_hour_path, class:"btn btn-primary btn-xlarge side btn-block" %>
		<% end %>
	<% end %>
</div>