<% if signed_in? %>
  <li id="fat-menu" class="dropdown">
    

    <li><%= link_to "Courses", current_user, class: "visible-phone" %><li>
    <li><%= link_to "Office Hours", office_hours_path, class: "visible-phone" %><li>
    <li><%= link_to "Sign out", signout_path, method: "delete", class: "visible-phone" %><li>
    

    <% if !current_user.nil? %>
    <a href="#" class="dropdown-toggle hidden-phone" data-toggle="dropdown"><%= current_user.givenName %> <b class="caret"></b></a>
    <ul class="dropdown-menu custom" role="menu" aria-labelledby="dropdownMenu">


     <!--  <%#= link_to "Current Sessions", office_hour_path %>  -->   
     

        <% if !current_user.instructor %>
          <li><%= link_to "Find Courses", current_user %><li>
          <li><%= link_to "My Office Hours", office_hours_path, class: "hidden-phone" %><li>
          
        <% else %>
          <li><%= link_to "Manage Courses", current_user, class: "hidden-phone" %><li>
          <li><%= link_to "Manage Office Hours", office_hours_path, class: "hidden-phone" %><li>
          
        <% end %>


      <li class="divider"></li>
      
      <li>
        <%= link_to "Sign out", signout_path, method: "delete", class: "hidden-phone" %>
      </li>
    </ul>
    <% end %>
  </li>

<% else %>
  <li><%= link_to "Sign in", new_session_path %></li>
<% end %>